apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpmyadmin
spec:
  selector:
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec:
      containers:
      - name: phpmyadmin
        image: phpmyadmin/phpmyadmin
        env:
        - name: PMA_HOST
          value: "mysql" # Connects to the mysql service defined above
        - name: PMA_PORT
          value: "3306"
        ports:
        - containerPort: 80
          name: http

---
# Expose using ClusterIP (Task requirement)
apiVersion: v1
kind: Service
metadata:
  name: phpmyadmin
spec:
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: phpmyadmin
  type: ClusterIP